$bgcolor: transparent;
$borderColor: #909090;
body  {
  // background-color:#424242; margin:0;
  // background-image: linear-gradient(0deg, rgba(0, 153, 204, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 153, 204, .1) 1px, transparent 1px);
  // background-size:20px 20px;
  // background-attachment:fixed;
  font-family: sans-serif;
  // color: white
}
input, textarea {background: transparent;}
.status-info {position: fixed; top: 15px;left:15px; }
// .loading-msg { width: 100%; text-align: center; }
.add-task-wrapper{ width:100%; margin: auto; padding: 4%;
  .desc-input{max-width: 100%; min-height:200px; }
}
.tasks { text-align: center;
  .add-task-btn{ width:55%; margin: 20px auto;}
  .task {position: relative; display: inline-block; min-width: 55%; height: 300px; margin: 40px auto 10px; padding-left: 50px; border: 1px dashed $borderColor; background: $bgcolor;    .status { position: absolute; top: 0; left: 0; width: 35px; height: 100%; transition: background-color 0.3s ease;
      &.new { background: orange; }
      &.in-progress { background: blue; }
      &.done { background: green; }
      &.reopened { background: orange; }
      &.closed { background: grey; }
    }
    .info { position: absolute; top: -26px; left: 0; overflow: hidden; width: 200px; height: 20px; padding: 3px; white-space: nowrap; text-overflow: ellipsis;  border-width: 1px 1px 0 1px; border-style: dashed; border-color: $borderColor; background: $bgcolor;
      .id { font-weight: bold; }
      .name { }
    }
    .block {display: inline-block; float: left;  height: 100%; max-height: 290px; }
    .content { width: 300px; padding: 5px;
      textarea {max-width: 290px;  height: 200px; max-height: 250px; margin: 0; padding: 5px;  }
    }
    .comments {position: relative; width: 400px; max-height: 280px; margin: 5px;      .cont{ width:100%; height:100%; padding-bottom:36px;
        .cont-ins { overflow-y: scroll;height:100%; border: 1px solid $borderColor;
          .comment{ float:left; text-align: left; width:100%;
            .time{font-style: italic;}
            .author{font-weight: bold;font-style: italic; }
            .text{font-style: italic;}
          }

        }
      }
      .create{ position: absolute; bottom:0px; left:0px; width:100%; height:36px; padding: 2px 90px 0px 0px;
        .add-comment-btn{position: absolute; top:2px; right:0;  width:90px; }
      }
    }
    .recent {width: 25%;  padding: 5px; text-align: right;
      .changed,
      .owner,
      .deadline { span { font-weight: bold; }
      }
    }
    .btn-cont{ position: absolute; right: 0px; bottom: 0px; }
    .progress-toolbar{position: absolute; top: -30px; right: -1px;
      .btn {
        // text-shadow: 1px 2px 3px #999;
        &.new { color: orange; }
        &.in-progress { color: blue; }
        &.done { color: green; }
        &.reopened { color: orange; }
        &.closed { color: grey; }
      }
    }
  }
}
