$bgcolor: transparent;
$borderColor: #909090;
/* statuses colors: */
$new: #ffc800;
$inProgress:blue;
$done:green;
$reopened:#ff8100;
$closed:grey;
body  {font-family: sans-serif;}
input, textarea {background: transparent;}
.status-info {position: fixed; top: 15px;left:15px; }
// .loading-msg { width: 100%; text-align: center; }
.add-task-wrapper{ width:100%; margin: auto; padding: 4%;
  .desc-input{max-width: 100%; min-height:200px; }
}
#filterHint{
  .txt{
    margin-bottom: 10px;
  }
  .hint{
    .preview{display: inline-block; width: 20px; height: 20px;
      &.new { background-color: $new;}
      &.in-progress { background-color: $inProgress;}
      &.done { background-color: $done;}
      &.reopened { background-color: $reopened;}
      &.closed { background-color: $closed;}
      }
      .msg {height: 20px; vertical-align: top; line-height: 20px; }
  }
}
.filter-cont{position: fixed; top:15px; right:15px;
  .info{ margin:5px auto; text-align: center;
    a {font-weight: bold;}
  }
  .filters{
    .new { background-color: $new;
    label:after{
      background: $new;
      background: linear-gradient(to top, $new 0%, darken($new, 10%) 100%);
    }}
    .in-progress { background-color: $inProgress;
      label:after{
        background: $inProgress;
        background: linear-gradient(to top, $inProgress 0%, darken($inProgress, 10%) 100%);
    }}
    .done { background-color: $done;
      label:after{
        background: $done;
        background: linear-gradient(to top, $done 0%, darken($done, 10%) 100%);
    }}
    .reopened { background-color: $reopened;
      label:after{
        background: $reopened;
        background: linear-gradient(to top, $reopened 0%, darken($reopened, 10%) 100%);
    }}
    .closed { background-color: $closed;
      label:after{
        background: $closed;
        background: linear-gradient(to top, $closed 0%, darken($closed, 10%) 100%);
    }}
  }
}
.tasks { text-align: center;
  .new { color: $new; }
  .in-progress { color: $inProgress; }
  .done { color: $done; }
  .reopened { color: $reopened; }
  .closed { color: $closed; }
  .add-task-btn{ width:55%; margin: 20px auto;}
  .task {position: relative;   display: -webkit-flex;   display: flex;   flex-direction: row;   width:1000px; height: 300px; margin: 40px auto 10px; padding-left: 50px; border: 1px dashed $borderColor; background: $bgcolor; -webkit-flex-direction: row; -webkit-align-items: center; align-items: center; -webkit-justify-content: space-around; justify-content: space-around;   .status { position: absolute; top: 0; left: 0; width: 35px; height: 100%; transition: background-color 0.3s ease;
      &.new { background-color: $new; }
      &.in-progress { background-color: $inProgress; }
      &.done { background-color: $done; }
      &.reopened { background-color: $reopened; }
      &.closed { background-color: $closed; }
    }
    .info { position: absolute; top: -26px; left: 0; overflow: hidden; width: 200px; height: 20px; padding: 3px; text-align: left;white-space: nowrap; text-overflow: ellipsis;  border-width: 1px 1px 0 1px; border-style: dashed; border-color: $borderColor; background: $bgcolor;
      .id { font-weight: bold; }
      .name { }
    }
    .block {display: inline-block; float: left;  height: 100%; max-height: 290px; }
    .content { width: 300px; padding: 5px;
      textarea {max-width: 290px;  height: 200px; max-height: 250px; margin: 0; padding: 5px;  }
    }
    .comments {position: relative; width: 400px; max-height: 280px; margin: 5px;      .cont{ width:100%; height:100%; padding-bottom:36px;
        .cont-ins { overflow-y: scroll;height:100%; border: 1px solid $borderColor;
          .comment{ float:left; width:100%;text-align: left;            .time{font-style: italic;}
            .author{font-weight: bold;font-style: italic; }
            .text{font-style: italic;}
          }
        }
      }
      .create{ position: absolute; bottom:0px; left:0px; width:100%; height:36px; padding: 2px 90px 0px 0px;
        .add-comment-btn{position: absolute; top:2px; right:0;  width:90px; }
      }
    }
    .recent {float: right; width: 250px;  padding: 5px 5px 30px 5px; text-align: right;      .changed,
      .owner,
      .deadline
         { span { font-weight: bold; }
      }
      .assigned { }
      .Select {margin-top:10px;text-align: left; }
    }
    .btn-cont{ position: absolute; right: 0px; bottom: 0px; }
    .progress-toolbar{position: absolute; top: -30px; right: -1px;  }
  }
}

/* .squareCheckbox */
$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 10%);
.squareCheckbox {
  position: relative;

  display: inline-block;

  width: 28px;
  height: 28px;
  margin: 0px auto;

  background: #fcfff4;
  background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  // border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    position: absolute;
    top: 4px;
    left: 4px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: linear-gradient(to top, #222 0%, #45484d 100%);
    // border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      position: absolute;
      top: 2px;
      left: 2px;

      width: 16px;
      height: 16px;

      content: '';

      opacity: 0;
      background: $activeColor;
      background: linear-gradient(to top, $activeColor 0%, $darkenColor 100%);
      // border-radius: 50px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .squareCheckbox */
