$bgcolor: transparent;
$borderColor: #909090;
body  {
  font-family: sans-serif;
}
input, textarea {background: transparent;}
.add-task-wrapper{ width:100%; margin: auto; padding: 4%;
  .mandatory{color: red;}
}
